.sidebar {
  display: flex;
  padding-block-start: 3rem;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar li {
  list-style-type: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar span {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  transition: all 0.2s ease;
}
.sidebar span:hover {
  background-color: var(--clr--primary);
  color: white;
}
@media(width<=968px){
  .sidebar{
    display: none;
  }
}